<div class="main">
    <div class="links">

        <a href="/Home">
            <button mat-stroked-button class="button">Home</button>
        </a>

        <a href="/Projects">
            <button mat-stroked-button class="button">Projects</button>
        </a>

        <button mat-stroked-button [matMenuTriggerFor]="menu" class="button">Contact</button>
        <mat-menu #menu="matMenu">
            <a href="https://www.linkedin.com/in/benjamin-rolls-8b1788108/" target="_blank">
                <button mat-menu-item>LinkedIn</button>
            </a>
            <a href="https://github.com/benjamindrolls" target="_blank">
                <button mat-menu-item>GitHub</button>
            </a>
            <a href="https://drive.google.com/file/d/1_gTjcPwKNDqmhEqVdfQFot2y3x5lnURe/view">
                <button mat-menu-item>Resume</button></a>
        </mat-menu>
    </div>


    <div class="skills">
        <div class="sign">
            <p><span class="flicker">M</span>y Ski<span class="fastFlicker">ll</span>s:</p>
        </div>
        <div class="angular">
            <p class="desk">Angular</p>
        </div>

        <div class="Java">
            <p class="desk">JavaScript</p>
        </div>

        <div class="HTML">
            <p class="desk">HTML5</p>
        </div>

        <div class="CSS">
            <p class="desk">CSS</p>
        </div>

        <div class="Node">
            <p class="desk">NodeJS</p>
        </div>

        <div class="SQL">
            <p class="desk">SQL</p>
        </div>

        <div class="Git">
            <p class="desk">GitHub</p>
        </div>
    </div>


    <div id="mobile" class="pro">
        <div class="container" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine">
            <img src="../../assets/BudgetBuddy.PNG" alt="BudgetBuddy" id="budgetbuddy" class="pic">
            <div class="description1">
                <p class="des">This is Moola a budgeting app, it allows the you to enter weekly earnings and
                    see how they should spend every week on things like entertainment, bills, food, and clothing. <br><a
                        href="https://benjamindrolls.github.io/BudgetBuddyProject/" class="try" target="_blank">try
                        it out here</a></p>
            </div>
        </div>
        <div class="container" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine">
            <img src="../../assets/destinationGR.PNG" alt="DestinationGR" id="destinationGR" class="pic">
            <div class="description1">
                <p class="des">This is DestinationGR a application built with parking data pulled from the city of
                    Grand Rapids. We strived to fix the problem of navigating Grand Rapids, giving parking
                    information like times and rates. As well as venue information, locations and hot restaurants
                    around town.<br> <a href="https://benjamindrolls.github.io/GrDecoded/" class="try"
                        target="_blank">try it out
                        here</a></p>
            </div>
        </div>
        <div class="container" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine">
            <img src="../../assets/RecipeProject.PNG" alt="Recipe Project" id="RecipeProject" class="pic">
            <div class="description1">
                <p class="des">This is Triple B Recipes, this app works with a recipe API that allows you to enter a
                    key word and find over a
                    dozen different recipes based on the keyword you entered. <br><a
                        href="https://bykerbry.github.io/recipe-api-project/" class="try" target="_blank">try it out
                        here</a></p>
            </div>
        </div>
        <div class="container" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine">
            <img src="../../assets/rolling.PNG" alt="Rolling In My Thoughts" id="RollingThoughts" class="pic">
            <div class="description1">
                <p class="des">This is Rolling In My Thoughts is Twitter like application that allows you to create a
                    personal post.
                    Give it a title and a description and simply enjoy your own thoughts. <br><a
                        href="https://benjamindrolls.github.io/SocialPosts/" class="try" target="_blank">try it out
                        here</a></p>
            </div>
        </div>

        <div class="container" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine">
            <img src="../../assets/CovidBlog.PNG" alt="Covid-19 Blog" id="CovidBlog" class="pic">
            <div class="description1">
                <p class="des">This is a blog I created to talk about my experiences during the shelter in place order.
                    I wanted to do something involving COVID and this was one of my favorite options. What you will find
                    with this application is a break down of my days and how I have been spending my time during the
                    quarantine. I hope that you find some enjoyment out of my stories and you possibly inspire you to
                    something new during this time.<br><a href="https://rollingcovidblog.netlify.app/" class="try"
                        target="_blank">Read Here
                        here</a></p>
            </div>
        </div>
    </div>

    <div class="carousel" id="desktop">
        <nav>
            <button class="nav prev">prev</button>
            <button class="nav next">next</button>
        </nav>
        <figure>
            <div class="container">
                <img src="../../assets/BudgetBuddy.PNG" alt="BudgetBuddy" id="budgetbuddy" class="pic">
                <div class="description">
                    <p class="des">This is Moola a budgeting app, it allows the you to enter weekly earnings and
                        see how they should spend every week on things like entertainment, bills, food, and clothing.
                        <br><a href="https://benjamindrolls.github.io/BudgetBuddyProject/" class="try"
                            target="_blank">try
                            it out here</a></p>
                </div>
            </div>

            <div class="container">
                <img src="../../assets/destinationGR.PNG" alt="DestinationGR" id="destinationGR" class="pic">
                <div class="description">
                    <p class="des">This is DestinationGR a application built with parking data pulled from the city of
                        Grand Rapids. We strived to fix the problem of navigating Grand Rapids, giving parking
                        information like times and rates. As well as venue information, locations and hot restaurants
                        around town.<br> <a href="https://benjamindrolls.github.io/GrDecoded/" class="try"
                            target="_blank">try it out
                            here</a></p>
                </div>
            </div>

            <div class="container">
                <img src="../../assets/RecipeProject.PNG" alt="Recipe Project" id="RecipeProject" class="pic">
                <div class="description">
                    <p class="des">This is Triple B Recipes, this app works with a recipe API that allows you to enter a
                        key word and find over a
                        dozen different recipes based on the keyword you entered. <br><a
                            href="https://bykerbry.github.io/recipe-api-project/" class="try" target="_blank">try it out
                            here</a></p>
                </div>
            </div>

            <div class="container">
                <img src="../../assets/rolling.PNG" alt="Rolling In My Thoughts" id="RollingThoughts" class="pic">
                <div class="description">
                    <p class="des">This is Rolling In My Thoughts is Twitter like application that allows you to create
                        a
                        personal post.
                        Give it a title and a description and simply enjoy your own thoughts. <br><a
                            href="https://benjamindrolls.github.io/SocialPosts/" class="try" target="_blank">try it out
                            here</a></p>
                </div>
            </div>

            <div class="container">
                <img src="../../assets/CovidBlog.PNG" alt="Covid-19 Blog" id="CovidBlog" class="pic">
                <div class="description">
                    <p class="des">This is a blog I created to talk about my experiences during the shelter in place order.
                        I wanted to do something involving COVID and this was one of my favorite options. What you will find
                        with this application is a break down of my days and how I have been spending my time during the
                        quarantine. I hope that you find some enjoyment out of my stories and you possibly inspire you to
                        something new during this time.<br><a href="https://rollingcovidblog.netlify.app/" class="try"
                            target="_blank">Read Here
                            here</a></p>
                </div>
            </div>

        </figure>

    </div>
</div>