<div class="main">
    <div class="links">

        <a href="/Home">
            <button mat-stroked-button class="button">Home</button>
        </a>

        <a href="/Projects">
            <button mat-stroked-button class="button">Projects</button>
        </a>

        <button mat-stroked-button [matMenuTriggerFor]="menu" class="button">Contact</button>
        <mat-menu #menu="matMenu">
            <a href="https://www.linkedin.com/in/benjamin-rolls-8b1788108/" target="_blank">
                <button mat-menu-item>LinkedIn</button>
            </a>
            <a href="https://github.com/benjamindrolls" target="_blank">
                <button mat-menu-item>GitHub</button>
            </a>
            <a href="https://drive.google.com/file/d/1_gTjcPwKNDqmhEqVdfQFot2y3x5lnURe/view">
                <button mat-menu-item>Resume</button></a>
        </mat-menu>
    </div>


    <div class="skills">
        <div class="sign">
            <p><span class="flicker">M</span>y Ski<span class="fastFlicker">ll</span>s:</p>
        </div>
        <div class="angular">
        </div>

        <div class="Java">
        </div>

        <div class="HTML">
        </div>

        <div class="CSS">
        </div>

        <div class="Node">
        </div>

        <div class="SQL">
        </div>

        <div class="Git">
        </div>
    </div>

    <div class="carousel" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
        <nav>
            <button class="nav prev">prev</button>
            <button class="nav next">next</button>
        </nav>
        <figure>
            <div class="container">
                <img src="../../../assets/BudgetBuddy.PNG" alt="BudgetBuddy" id="budgetbuddy">
                <div class="description">
                    <p class="des">This is Moola a budgeting app, it allows the you to enter weekly earnings and
                        see how they should spend every week on things like entertainment, bills, food, and clothing. <br><a
                            href="https://benjamindrolls.github.io/BudgetBuddyProject/" class="try" target="_blank">try
                            it out here</a></p>
                </div>
            </div>

            <div class="container">
                <img src="../../../assets/destinationGR.PNG" alt="DestinationGR" id="destinationGR">
                <div class="description">
                    <p class="des">This is DestinationGR a application built with parking data pulled from the city of
                        Grand Rapids. We strived to fix the problem of navigating Grand Rapids, giving parking
                        information like times and rates. As well as venue information, locations and hot restaurants
                        around town.<br> <a href="https://benjamindrolls.github.io/GrDecoded/" class="try"
                            target="_blank">try it out
                            here</a></p>
                </div>
            </div>

            <div class="container">
                <img src="../assets/RecipeProject.PNG" alt="Recipe Project" id="RecipeProject">
                <div class="description">
                    <p class="des">This is Triple B Recipes, this app works with a recipe API that allows you to enter a
                        key word and find over a
                        dozen different recipes based on the keyword you entered. <br><a
                            href="https://bykerbry.github.io/recipe-api-project/" class="try" target="_blank">try it out
                            here</a></p>
                </div>
            </div>



        </figure>

    </div>
</div>