footer {
    background-image: linear-gradient(to top,#C97B84, #A85751 );
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 350px;
}
header {
    height: 1500px;
    text-align: center;
    background-image: linear-gradient(to bottom,#7D2E68, #A85751 );
}
.intro {
    margin: 0;
    font-family: 'Pacifico', cursive;
    background-image: repeating-linear-gradient(45deg, #251101, #470024, #2c5784, #5688c7);
    background-size: 800% 800%;
    -webkit-background-clip: text;
    font-size: 50px;
    -webkit-text-fill-color: transparent;
    animation: rainbow 8s ease infinite;
}

#headshot {
    width: 140px;
    height: 181px;
}

.projects {
    width: 200px;
    height: 250px;
    margin: 10px;
}

#myWork {
    height: 2000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#Git {
    bottom: 0;
    left: 50%;
    position: absolute;
}
#Link {
    bottom: 0;
    left: 75%;
    position: absolute;
}
#Home {
    bottom: 0;
    left: 25%;
    position: absolute;
}


@keyframes rainbow { 
    0%{background-position:0% 50%}
    50%{background-position:100% 25%}
    100%{background-position:0% 50%}
}