<header>
    <h1>Benjamin Rolls</h1>
    <img src="../assets/grandcircusheadshots_2.jpg" alt="Benjamin Rolls head shot" id="headshot">
</header>

<img src="../assets/BudgetBuddy.PNG" alt="BudgetBuddy Project" class="projects">
<img src="../assets/destinationGR.PNG" alt="destinationGR Project" class="projects">
<img src="../assets/RecipeProject.PNG" alt="Recipe Project" class="projects">

<router-outlet></router-outlet>

<footer>
    <a href="https://www.linkedin.com/in/benjamin-rolls-8b1788108/" target="_blank">
        <img src="https://img.icons8.com/material/48/000000/linkedin--v1.png">
    </a>
    <a href="https://github.com/benjamindrolls" target="_blank">
        <img src="https://img.icons8.com/material/48/000000/github.png">
    </a>
</footer>